USE [master]
GO
/****** Object:  Database [QLYDIEMDANH]    Script Date: 17/07/2017 11:36:22 ******/
CREATE DATABASE [QLYDIEMDANH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLYDIEMDANH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.HOANGLONG\MSSQL\DATA\QLYDIEMDANH.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLYDIEMDANH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.HOANGLONG\MSSQL\DATA\QLYDIEMDANH_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLYDIEMDANH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLYDIEMDANH]
GO
/****** Object:  Table [dbo].[BuoiHocCuaLop]    Script Date: 17/07/2017 11:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuoiHocCuaLop](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idLop] [nvarchar](30) NOT NULL,
	[BuoiHoc] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DiemDanh]    Script Date: 17/07/2017 11:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DiemDanh](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[NgayHoc] [date] NULL,
	[Mssv] [varchar](20) NOT NULL,
	[DiHoc] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Lop]    Script Date: 17/07/2017 11:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lop](
	[MaLop] [nvarchar](30) NOT NULL,
	[TenLop] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 17/07/2017 11:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SinhVien](
	[idLop] [nvarchar](30) NOT NULL,
	[Mssv] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](100) NOT NULL,
	[maLop] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Mssv] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[DiemDanh] ADD  DEFAULT ((0)) FOR [DiHoc]
GO
ALTER TABLE [dbo].[SinhVien] ADD  DEFAULT (N'Chưa có tên') FOR [HoTen]
GO
ALTER TABLE [dbo].[BuoiHocCuaLop]  WITH CHECK ADD FOREIGN KEY([idLop])
REFERENCES [dbo].[Lop] ([MaLop])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiemDanh]  WITH CHECK ADD FOREIGN KEY([Mssv])
REFERENCES [dbo].[SinhVien] ([Mssv])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SinhVien]  WITH CHECK ADD FOREIGN KEY([idLop])
REFERENCES [dbo].[Lop] ([MaLop])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
/****** Object:  StoredProcedure [dbo].[USP_DanhSachDiemDanh]    Script Date: 17/07/2017 11:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
 
 
 CREATE PROC [dbo].[USP_DanhSachDiemDanh]
 @ngayHoc DATE,@mssv NVARCHAR(20)
 AS
 BEGIN
  SELECT DiHoc FROM dbo.DiemDanh WHERE NgayHoc = @ngayHoc  AND Mssv = @mssv
 END

GO
/****** Object:  StoredProcedure [dbo].[USP_HienThiSinhVien]    Script Date: 17/07/2017 11:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 
 

  CREATE PROC [dbo].[USP_HienThiSinhVien]
  AS
  BEGIN
	  SELECT Lop.MaLop AS 'Mã Lớp Học',TenLop AS 'Tên Lớp học',SinhVien.Mssv AS'MSSV', dbo.SinhVien.HoTen AS'Họ Tên', SinhVien.maLop AS 'Thuộc Lớp',
	SUM(CASE WHEN DiHoc = 1 THEN 1 ELSE 0 end) AS 'Đi học',SUM(CASE WHEN DiHoc = 0 THEN 1 ELSE 0 end) AS 'Vắng',SUM(CASE WHEN DiHoc = 2 THEN 1 ELSE 0 end) AS 'Vắng Phép' 
	FROM dbo.SinhVien JOIN dbo.DiemDanh ON DiemDanh.Mssv = SinhVien.Mssv JOIN lop ON Lop.MaLop = SinhVien.idLop
	GROUP BY dbo.SinhVien.Mssv,Lop.MaLop,TenLop,HoTen,SinhVien.maLop
  END

GO
/****** Object:  StoredProcedure [dbo].[USP_LayBuoiHocTheoLop]    Script Date: 17/07/2017 11:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 CREATE PROC [dbo].[USP_LayBuoiHocTheoLop]
 @maLop nvarchar(30)
 AS
 BEGIN
		SELECT BuoiHoc FROM dbo.BuoiHocCuaLop WHERE idLop = @maLop
 END

GO
/****** Object:  StoredProcedure [dbo].[USP_LayIdDiemDanh]    Script Date: 17/07/2017 11:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

 
 
 CREATE PROC [dbo].[USP_LayIdDiemDanh]
 @mssv nvarchar(20),@ngayHoc DATE
 AS
 BEGIN
	SELECT id FROM dbo.DiemDanh WHERE Mssv = @mssv AND NgayHoc = @ngayHoc
 END

GO
/****** Object:  StoredProcedure [dbo].[USP_LayTenLop]    Script Date: 17/07/2017 11:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 

 CREATE PROC [dbo].[USP_LayTenLop] 
 @MaLop nvarchar(30) 
 AS
 BEGIN
	SELECT TenLop FROM dbo.Lop WHERE MaLop = @MaLop
 END

GO
/****** Object:  StoredProcedure [dbo].[USP_MSSVCuMotLop]    Script Date: 17/07/2017 11:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


 CREATE PROC [dbo].[USP_MSSVCuMotLop]
 @maLop nvarchar(30)
 AS
 BEGIN
	SELECT Mssv FROM dbo.SinhVien  WHERE  idLop = @maLop
 END

GO
/****** Object:  StoredProcedure [dbo].[USP_SoBuoiHocCuaLop]    Script Date: 17/07/2017 11:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 
 CREATE PROC [dbo].[USP_SoBuoiHocCuaLop]
 @maLop nvarchar(30)
 AS
 BEGIN
	SELECT COUNT(*) FROM dbo.BuoiHocCuaLop  WHERE  idLop = @maLop
 END

GO
/****** Object:  StoredProcedure [dbo].[USP_ThongTinSinhVien]    Script Date: 17/07/2017 11:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROC [dbo].[USP_ThongTinSinhVien]
 @mssv nvarchar(30)
 AS
 BEGIN
	SELECT Mssv,HoTen,maLop FROM dbo.SinhVien  WHERE  Mssv = @mssv
 END

GO
/****** Object:  StoredProcedure [dbo].[USP_ThongTinSinhVienMotLop]    Script Date: 17/07/2017 11:36:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
 CREATE PROC [dbo].[USP_ThongTinSinhVienMotLop]
 @maLop nvarchar(30)
 AS
 BEGIN
	SELECT Mssv AS 'MSSV',HoTen AS 'Họ và tên',maLop AS 'Mã Lớp' FROM dbo.SinhVien  WHERE  idLop = @maLop
 END

GO
USE [master]
GO
